main {
    padding-left: 30px;

}

.div_table {
    overflow: auto;

}

.mainpage {
  margin-left:30px;
  padding-left: 30px;
}

.content-table {
    border-collapse: collapse;
    font-family: Arial;
    border-radius: 8px 8px 8px 8px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 0%;
    table-layout: auto;
    padding-left: 30px;
    margin-bottom: 8px;
}

.content-table thead tr {
    background-color: #3E497A;
    /* border-left: 2px solid #dddddd;
    border-right: 2px solid #dddddd; */
    color: #fff;
    text-align: left;
}

.content-table th, .content-table td {
    padding: 12px 15px;
    overflow: hidden;
    /* opacity: 80%; */
}

.content-table tbody tr {
    border-bottom: 1px solid #ffffff;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
/* f3f3f3 */

.content-table tbody tr:last-of-type {
    border-bottom: 5px solid #3E497A;

}

.content-table thead th:nth-child(1) {
    width: 10%;

  }
  
  .content-table  thead th:nth-child(2) {
    width: 10%;
    background-color: #21325E;
  }
  
  .content-table  thead th:nth-child(3) {
    width: 10%;
  }
  
  .content-table thead th:nth-child(4) {
    width: 1%;
    background-color: #21325E;
  }

  .content-table thead th:nth-child(5) {
    width: 20%;
    background-color: #fdab3d;;
  }
  .content-table tbody tr:nth-child {
    width: 10%;
    background-color: #ffe1bb;
  }
  
  .content-table thead th:nth-child(6) {
    width: 10%;
    background-color: #e2445c;
  }


  .content-table thead th:nth-child(7) {
    width: 10%;
    /* background-color: blue; */
  }
  
  .content-table thead th:nth-child(8) {
    width: 10%;
    background-color:  #ffcb03;
  }

  .content-table thead th:nth-child(9) {
    width: 10%;
    background-color: #F6E7E6;
  }

  .content-table thead th:nth-child(10) {
    width: 10%;
    background-color:  #bf8ee8;
  }

  .content-table thead th:nth-child(11) {
    width: 5%;
    background-color: rgb(235, 235, 235);
  }


.bjr:hover {
  text-decoration: underline;
}











  /* body {
    background-color: white; */
    /* orange : #fdab3d;
    jaune : #ffcb03;
    vert : #02c875;
    rose : #e2445c;
    violet: #a25ddc;
    violet-clair:#bf8ee8;
    bleu: #009aff; */

/* } */


