body{
    background-image:url(images.jpeg);
    /* padding-left: 10%;
    padding-right: 10%; */

}

h1{
    background-color: #3E497A;
    color: rgb(255, 255, 255);
    text-align: center;
    width: 50%;
    margin: auto;
    margin-bottom: 15px;
    border-radius: 10px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;

}

li{
margin-bottom: 12px; 
}
ul{
width:600px;
margin:auto;
padding:10px;
background-color: #3E497A;
color:white;
text-align: left;
font-family: Courier;
overflow:auto;
height:480px;
border: 2px solid rgba(158, 213, 245, 0.65);
border-radius: 1%;
list-style: none;
padding: 18px;
margin-top:15px;
}

.date{
    text-transform: capitalize;
    margin-left: -8px;
    font-size:small;
}

.prenom{
    text-transform: capitalize;
    font-size:x-large;
}

.msg{
    border: 2px solid rgba(158, 213, 245, 0.65);
    border-radius: 8px;
    padding: 2px;
    padding-left: 5px;

}

form{
    background-color: #3E497A;
    padding: 10px;
    padding-right: 10px;
    width:500px;
    height:115px;
    border: 2px solid rgba(158, 213, 245, 0.65);
    border-radius: 5px;
    font-size:small;
margin-bottom: 5px;
margin: auto;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

}

form[name ="ProbClient"]{
    margin: 0px;
    padding: 0px;
    border: 0px solid rgba(158, 213, 245, 0.65);
    background-color: #3E497A;
    padding: 10px;
    width:600px;
    height:410px;
    border: 2px solid rgba(158, 213, 245, 0.65);
    border-radius: 5px;
    /* font-size:small; */
margin: auto; 
}



select
{
    background-color: rgb(255, 255, 255);
    border: none;
    border: 2px solid rgba(158, 213, 245, 0.65);
    border-radius: 5px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 5px 9px;
    text-align: center;
    margin-left:35%;
 }

 select[name='client']{
    background-color: rgb(255, 255, 255);
    border: none;
    border: 2px solid rgba(158, 213, 245, 0.65);
    border-radius: 5px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 5px 9px;
    text-align: center;
    margin-left: 15px;
    margin-top:20px;
 }

 select[name='prod']{
    background-color: rgb(255, 255, 255);
    border: none;
    border: 2px solid rgba(158, 213, 245, 0.65);
    border-radius: 5px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 3px 0px ;
    text-align: center;
    margin:auto;
 }

 select[name='resp']{
    background-color: rgb(255, 255, 255);
    border: none;
    border: 2px solid rgba(158, 213, 245, 0.65);
    border-radius: 5px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 5px 9px;
    text-align: center;
    margin-left:13.5%;
    margin-top:20px;

 }
input[type="submit"]{
    background-color: rgb(255, 255, 255);
    border: none;
    border: 2px solid rgba(158, 213, 245, 0.65);
    border-radius: 5px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 5px 9px;
    text-align: center;
}

input[name="bout"]{
    background-color: rgb(255, 255, 255);
    border: none;
    border: 2px solid rgba(158, 213, 245, 0.65);
    border-radius: 5px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 5px 9px;
    margin-left:17%;
}
input[name="boot"]{
    background-color: rgb(255, 255, 255);
    border: none;
    border: 2px solid rgba(158, 213, 245, 0.65);
    border-radius: 5px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 5px 9px;
    margin:auto;
    margin-top:25px;

}

a1{
 /* margin-left: 44%; */
 font-size:large;
 margin:auto;
}

a2{
    margin:auto;
 font-size:large;

}

a3{
    margin:auto;
 font-size:large;

}

input[type="file"]{
    background-color: rgb(255, 255, 255);
    border: none;
    border: 2px solid rgba(158, 213, 245, 0.65);
    border-radius: 5px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 3px 6px;
    text-align: center;
    width: 220px;
    margin:auto;
    font-size:small;
}

input[type="text"]{
background-color: rgb(255, 255, 255);
border: none;
border: 2px solid rgba(158, 213, 245, 0.65);
border-radius: 5px;
font-family:Georgia, 'Times New Roman', Times, serif;
width:400px;
margin: center;
padding-bottom: 40px;
display: grid;
margin: auto;
}

input[name="desc"]{
    background-color: rgb(255, 255, 255);
    border: none;
    border: 2px solid rgba(158, 213, 245, 0.65);
    border-radius: 5px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    width:500px;
    margin: center;
    padding-bottom: 80px;
    display: grid;
    margin: auto;
    padding-bottom:30px ;
    }